Selection,
QuietRequest,
AboutUs,
AddOrRemove,
Financial,
Confirmation {
  padding-top: 0;
}

.bold {
  text-style: bold;
}

.p-2 {
  padding: 1 2;
}

.m-1 {
  margin: 0 1;
}

Input,
Button {
  width: 100%;
}

Button {
  margin: 1;
  margin-bottom: 2;
}

#select_label {
  margin: 1;
}

#select_lesson {
  margin: 1;
  margin-bottom: 0;
}

#selection_errors {
  margin: 1;
}

.even,
.odd {
  padding: 1 2;
}

.even {
  background: $panel;
}

.odd {
  background: $primary-background-darken-2;
}

#confirmation_error {
  margin: 1;
}
